*.jnlp
*.orig
.metadata
*.swp
*.tmp
*~*
*.class
*.dep
*.log
*.pyc
makefile

/CONSTELLATION_Training_Exercises/TrainingExercises/build
/CONSTELLATION_Training_Exercises/TrainingExercises/dist
/CONSTELLATION_Training_Exercises/TrainingExercises/endorsed
/CONSTELLATION_Training_Exercises/TrainingExercises/nbproject/private
/CONSTELLATION_Training_Exercises/TrainingExercises/*/nbproject/private
/CONSTELLATION_Training_Exercises/TrainingExercises/project_old.xml
/CONSTELLATION_Training_Exercises/build
/CONSTELLATION_Training_Exercises/dist
/CONSTELLATION_Training_Exercises/endorsed
/CONSTELLATION_Training_Exercises/nbproject/private
/CONSTELLATION_Training_Exercises/*/nbproject/private
/CONSTELLATION_Training_Exercises/project_old.xml

/CONSTELLATION_Training_Solutions/TrainingSolutions/build
/CONSTELLATION_Training_Solutions/TrainingSolutions/dist
/CONSTELLATION_Training_Solutions/TrainingSolutions/endorsed
/CONSTELLATION_Training_Solutions/TrainingSolutions/nbproject/private
/CONSTELLATION_Training_Solutions/TrainingSolutions/*/nbproject/private
/CONSTELLATION_Training_Solutions/TrainingSolutions/project_old.xml
/CONSTELLATION_Training_Solutions/build
/CONSTELLATION_Training_Solutions/dist
/CONSTELLATION_Training_Solutions/endorsed
/CONSTELLATION_Training_Solutions/nbproject/private
/CONSTELLATION_Training_Solutions/*/nbproject/private
/CONSTELLATION_Training_Solutions/project_old.xml
/constellation-training-exercises/nbproject/private/
/constellation-training-solutions/nbproject/private/
/constellation-training-solutions/build/
/constellation-training-solutions/TrainingSolutions/build/
/constellation-training-solutions/TrainingSolutions/nbproject/private/
/constellation-training-exercises/TrainingExercises/build/
/constellation-training-exercises/build/
/constellation-training-exercises/TrainingExercises/nbproject/private/